/* CSS Document for the default Islandora theme */

/* ________ GLOBAL ________ */

html {
	overflow-y: scroll;
	}
	
body {
	padding: 0;
	width: 95%;
	max-width: 1200px;
	margin: 1em auto;
	font: 100% Arial, Helvetica, sans-serif;
	background: #fff;
}

h3 {
	font-size: 1.5em;
	}

ul {
	list-style-type: none;
	}

a {
	text-decoration: none;
	color: #405a71;
	}

a:hover {
	text-decoration: underline;
	}

.caption {
	margin-top: -1em;
	font-size: 75%;
	font-weight: bold;
	}

/* ________ PAGE COLUMNS AND PAGE WRAPPERS ________ */ 
	
#two-col-right-main #sidebar {
	width: 26%;
	float: left;
	font-size: 90%;
	min-width: 10%;
	padding: 1.8em 2em 0 0;
	}
	
#two-col-right-main #main-content {
  font-size: 90%;
	width: 69%;
	float: left;
	}
	
#two-col-left-main #sidebar {
	float: right;
	width: 25%;
	}

#two-col-left-main #main-content {
	float: left;
	width: 74%;
	}
	
.islandora-basic-collection-metadata-image {
	width: 100%;
	margin: 0 0 1em 0;
	}

.islandora-basic-collection-metadata-image img {
	max-width: 100%;
	}

.islandora-metadata {
	margin: 0;
	}

.collection-wrapper {
	border: 2px solid #c9d5d9;
	margin-bottom: 2em;
	min-height: 12em;
	width: 100%;
	min-width: 19.2em;
	padding: .4em .6em .8em .6em;
	overflow: hidden;
	}
	
.news-wrapper {
	border: 2px solid #c9d5d9;
	margin-bottom: 2em;
	min-height: 12em;
	width: 96%;
	min-width: 19.2em;
	padding: .4em .6em .8em .6em;
	overflow: hidden;
	}

/* ________ BANNER & PRIMARY NAVIGATION ________ */

.banner img {
	max-width: 100%;
	}

.banner ul {
	float: right;
	}

.banner ul li {
	list-style: none;
	display: inline;
	font-size: 70%;
	padding-right: .6em;
	text-transform: uppercase;
	}

.banner ul li a {
	text-decoration: none;
	color: #405a71;
	}

#nav {
	height: 1.8em;
	margin: 0 0 2em 0;
	padding: .5em 0 0 0;
	border: 1px solid #000;
	width: 100%;
	background: -webkit-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	background: -moz-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	background: -ms-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	background: -o-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	}

.primary-nav a {
	color: #000;
	}

.primary-nav {
	margin: 0 0 0 -2.1em;
	width: 100%;
	}

.primary-nav li {
	margin-right: -.2em;
	padding: 0 1.2%;
	list-style: none;
	display: inline;
	border: 1px solid #000;
	font-size: 80%;
	background: #fff;
	}

#nav form {
	float: right;
	margin: -1.4em .2em 0 0;
	font-size: 90%;
	}

/* ________ SIDEBARS & FOOTER ________ */

.widget {
	border: 1px solid #000;
	padding: 0 .3em .8em .7em;
	margin: 0 0 2em 0;
	background: -webkit-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	background: -moz-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	background: -ms-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	background: -o-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	width: 92%; /* BTB - 7/10/14 */
	min-width: 180px;
	}

.widget h3 {
	margin-top: -.2em;
	}

.widget .social-icons {
	width: 70%;
	}

.widget .social-icons li {
	display: inline;
	}

.news_hdr4 {
	border-top: 1px solid #000;
	}

#footer {
	clear: both;
	border: 1px solid #000;
	background: -webkit-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	background: -moz-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	background: -ms-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	background: -o-linear-gradient(90deg, #bccbd0 15%, #e9edee 85%);
	padding: .5em .3em 0 .3em;
	margin-top: 1em;
	min-height: 3em;
	overflow: auto;
	width: 100%;
	}

#footer-col1 {
	float: left;
	width: 50%;
	margin-top: .5em;
	}

#footer-col2 {
	float: right;
	width: 50%;
	margin-top: -1em;
	}

#footer-col2 ul {
	margin-top: -1em;
	}

/* ________ MISCELLANY ________ */

.subtitle-first {
	margin-bottom: -.8em;
	}

.item-title {
	margin-bottom: .1em;
	}

#additions {
	clear: both;
	-webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 4px 4px #ccc;
	padding: .1em .6em;
	}

#additions img {
	padding: .4em;
	}

.contributions {
	padding: .1em .6em;
	background: #d0dadd
	}

.li-no-list-type {
	list-style-type: none;
	}

.collection-wrapper img {
	float: left;
	margin: .3em 1.6em .6em 0;
	}

.collection-wrapper a {
	font-weight: bold;
	}

.collection-wrapper ul {
	float: left;
	margin: .3em 0 0 -2.7em;
	}

.collection-wrapper ul li {
	width: 300px;
	}

.fieldset-wrapper {
	margin-left: -3em;
	font-size: 90%;
	}

.news-wrapper h4 {
	padding-bottom: .6em;
	}

.creator-subtitle {
	margin-top: -1em;
	}

.p-reduced-top-margin {
	margin-top: -1.8em;
	margin-bottom: 1em;
	}

.p-reduced-top-margin {
	margin-bottom: -.6em;
	}

.taxonomy-widget {
	margin: -1em 0 0 -.3em;
	list-style: square;
	}

table {
	border-collapse: collapse; /* <= ie 7 */
	border-spacing: 0;
	width: 100%;
	margin-top: 2em;
	}

.bordered {
  -webkit-box-shadow: 0 1px 1px #ccc;
  -moz-box-shadow: 0 1px 1px #ccc;
  box-shadow: 0 4px 4px #ccc;
	}

.bordered a:hover {
	color: #263A58;
	text-decoration: underline;
	}

.bordered th {
	color: #000;
	height: 1.7em;
  background-color: #263a58;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#899aa8), to(#263a58));
  background-image: -webkit-linear-gradient(top, #e9edee, #bccbd0);
  background-image: -moz-linear-gradient(top, #e9edee, #bccbd0);
  background-image:  -ms-linear-gradient(top, #e9edee, #bccbd0);
  background-image:  -o-linear-gradient(top, #e9edee, #bccbd0);
  background-image:  linear-gradient(top, #e9edee, #bccbd0);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  border-top: none;
	}

.bordered tr:hover {
	background: #bccbd0;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
	}

.bordered td:first-child, .bordered th:first-child {
  border-left: none;
	}

.bordered td {
	text-align: center;
	padding: .2em .1em;
	}

.background_shading {
	background: #d0dadd;
	}

#islandora-solr-result-count { /* search count that shows up just under the Search results title on the search page */
	margin-top: -1.6em;
	}

#islandora-solr-top {
	margin-bottom: -.3em; /* added 10/23 to shorten the space between the search count and the main column.*/
	}

/* ________ MEDIA QUERIES ________ */

@media screen and (max-width: 780px) {
.primary-nav li {
	margin: 0 0 .2em 0;
	padding: .2em .1em;
	list-style: none;
	display: block;
	border: 1px solid #000;
	font-size: 80%;
	background: none;
	width: 30%;
	}

.primary-nav li {
	background: #fff;
	min-width: 90px;
	}

#nav {
	height: 12em;
	margin: 0 0 2em 0;
	}

.primary-nav a:hover {
	text-decoration: none;
	}

#nav form {
	float: left;
	margin: .8em 0 0 .5em;
	font-size: 90%;
	}
/*#two-col-right-main #sidebar {
	width: 26%;
	float: left;
	font-size: 90%;
	min-width: 10%;
	padding: 1.8em 2em 0 0;
	}
	
#two-col-right-main #main-content {
  font-size: 90%;
	width: 69%;
	float: left;
	}*/
	
#two-col-left-main #sidebar {
	float: left;
	width: 25%;
	min-width: 200px;
	}

#two-col-left-main #main-content {
	float: left;
	width: 100%;
	}
}

@media screen and (max-width: 710px) {
#two-col-right-main #sidebar {
	width: 26%;
	float: left;
	font-size: 90%;
	min-width: 10%;
	padding: 1.8em 2em 0 0;
	}
	
#two-col-right-main #main-content {
  font-size: 90%;
	width: 96%;
	float: left;
	}
}

/* ________ TEMPLATE SPECIFIC ________ */

/* ________ islandora-solr-metadata-display.tpl ________ */

.metadata-label {
	font-weight: bold;
	}

.metadata-field {
	margin-bottom: .4em;
	}

/* ________ islandora-solr.tpl ________ */

.islandora-solr-search-result {
	border: 1px solid #cad6d9;
	padding: .4em;
	}

.search-result-wrapper {
  height: 250px;
  width: 250px;
  position: relative;
  float: left;
	padding: 0;
	margin-right: .4em;
	}

/* ________ islandora-upitt-view.tpl ________ */

#object-pg-left-col {
	font-size: 100%;
	width: 49%;
	max-width: 500px;
	float: left;
	margin-top: 0;
	margin-bottom: 1em;
	}

#object-pg-left-col img {
	max-width: 100%;
	}

#object-pg-right-col {
	width: 49%;
	float: right;
	font-size: 100%;
	margin-top: 0;
	margin-bottom: 1em;
	min-width: 180px;
	padding-left: 0;
	}

/* ________ Drupal/Islandora CSS overrides ________ */

.pager {
	border: 1px solid #000;
	width: 99%;
	}

.item-list .pager {
	text-align: left;
	}

.islandora-large-image-content {
	margin-bottom: 2em;
	}
	
.islandora-basic-collection-metadata-desc {
	margin-top: -3em;
	}

body.no-sidebars .islandora-large-image-content {
	width: 100%;
	}

.islandora-metadata {
	margin-bottom: 3em;
	}

body.no-sidebars .islandora-large-image-sidebar ul li {
	margin-left: -3em;
	}

#clip {
	display: block;
	margin-bottom: .3em;
	}

/* ________ EXPERIMENTATION ________ */
